<!doctype html>
<html>
<head>
<title>
契約先・常駐先登録画面
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_addclient.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/util/inputCheck.js"></script>
<script type="text/javascript" src="../../javascripts/umi_addclient.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<a href="/"><img src="../../images/common/logo01.gif"></a>

<div class="line"></div>

<div class="item">
	<%= result.err%>
</div>
<div class="item">
	<%= result.msg%>
</div>

<div class="addclient_frame">
	<form id="addclientForm" method="post">
		契約先を登録する
		<input type="text" class="require" name="clientCd" placeholder="例：0123">
		<input type="text" class="require" name="clientName" placeholder="契約先名">
		<input type="submit" id="addClientButton" value="契約先を登録する">
	</form>

	<table id="insertTable">
		<tr>
			<th>契約先コード</th>
			<th>契約先名</th>
		</tr>
<% for(var i = 0; i < result.info.length; i++) {%>
		<tr>
			<td><%= result.info[i].client_cd%></td>
			<td><%= result.info[i].client_name%></td>
		</tr>
<% } %>
	</table>
</div>




<div class="addworkplace_frame">

常駐先を登録する

<input type="text">



<input type="text">


</div>

</body>
</html>