<!doctype html>
<html>
<head>
<title>
契約先・常駐先登録画面
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_addclient.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/util/inputCheck.js"></script>
<script type="text/javascript" src="../../javascripts/umi_addclient.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<a href="/"><img src="../../images/common/logo01.gif"></a>

<div class="line"></div>

<div class="addclient_frame">

契約先を登録する

常駐先を登録する


</body>
</html>