<!doctype html>
<html>
<head>
<title>
社員登録画面
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_addemployee.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/umi_addemployee.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<a href="/"><img src="../../images/common/logo01.gif"></a>

<input type="button" id="add-button" value="追加">

<div id="input-form">
	<div class="left">
	社員No<br>
	名前<br>
	</div>
	<div id="original-form" class="original left">
	<input type="text"><br>
	<input type="text"><br>
	</div>
</div>


</body>
</html>