<!doctype html>
<html>
<head>
<title>
役職管理画面
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_addposition.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/umi_addposition.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<a href="/"><img src="../../images/common/logo01.gif"></a>

<div class="line"></div>

なん

</body>
</html>