<!doctype html>
<html>
<head>
<title>
パスワード変更画面
</title>
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<img src="../../images/common/logo01.gif">

<form method="post" action="/changepassword">
	<input type="hidden" name="shainNo" value="<%= query.shainNo%>">
	<div>
	新しいパスワードを入力してください。
	</div>
	<div>
	<input type="text" name="password">
	</div>
	<div>
	<input type="submit" name="loginButton" value="パスワードを変更する">
	</div>

<% if (result && result.err) { %>
	<div>
	<%= result.err%>
	</div>
<% } %>
</form>

</body>
</html>