<!doctype html>
<html>
<head>
<title>
意見箱画面
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_comment.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/umi_comment.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<a href="/"><img src="../../images/common/logo01.gif"></a>

<div class="line"></div>

<input type="hidden" id="url" value="<%= result.url%>">
<input type="hidden" id="channel" value="<%= result.channel%>">
<input type="hidden" id="shainName" value="<%= result.shainName%>">

<div class="comment_frame">
	<div>開発側への意見箱です。</div>
	<div>すぐに回答はできませんが、疑問・質問や要望や感想などを気軽に意見として投稿できます。</div>
	<div>送信する内容は暗号化されますが外部回線を通ります。</div>
	<div>また、全社員が閲覧可能な環境に表示されます。</div>
	<div><b>個人情報や機密事項は含めない</b>ようにしてください。</div>
	<div>
		<textarea id="comment" rows="10" cols="70" autofocus></textarea>
	</div>
	<div>
		<input type="checkbox" id="attentionCheck" value="1">注意事項を了承しました
	</div>
	<div>
		<button id="commentButton" type="button">内容を送信</button>
	</div>
</div>

</body>
</html>