<!doctype html>
<html>
<head>
<title>
メニュー画面
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_menu.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/umi_menu.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<a href="/"><img src="../../images/common/logo01.gif"></a>

<div class="line"></div>

<div class="read_frame">
	<form method="get" id="readForm">
		<div>
		<label class="read_title">参照権限</label>
		<input type="button" name="listButton" class="read_button" value="一覧画面表示">
		<input type="button" name="historyclientButton" class="read_button" value="契約先・常駐先履歴">
		<input type="button" name="commentButton" class="read_button" value="意見箱">
		</div>
	</form>
</div>

<div class="write_frame">
	<form method="get" id="writeForm">
		<div>
		<label class="write_title">更新権限</label>
		<input type="button" name="addEmployeeButton" class="write_button" value="社員情報登録">
		<input type="button" name="updatepersonalButton" class="write_button" value="社員情報変更">
		<input type="button" name="historyclientButton" class="write_button" value="契約先・常駐先履歴">
		<input type="button" name="mstqualifyButton" class="write_button" value="国家資格マスタ">
		<input type="button" name="trnqualifyButton" class="write_button" value="資格登録">
		<input type="button" name="addpositionButton" class="write_button" value="役職管理">
		</div>
	</form>
</div>

<div class="system_frame">
	<form method="get" id="systemForm">
		<div>
		<label class="write_title">管理権限</label>
		<input type="button" name="setauthButton" id="setauthButton" class="write_button" value="権限設定">
		</div>
  </form>
</div>

<div class="logout_frame">
	<form method="get" id="logoutForm" action="/logout">
		<input type="button" name="logoutButton" value="ログアウト">
	</form>
</div>

</body>
</html>