<!doctype html>
<html>
<head>
<title>
メニュー画面
</title>
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<img src="../../images/common/logo01.gif">

<form method="get" action="/list">
	<div>
	<input type="submit" name="listButton" value="一覧画面表示">
	</div>
</form>

<form method="get" action="/setauth">
	<div>
	<input type="submit" name="setauthButton" value="更新権限設定">
	</div>
</form>


</body>
</html>