.line {
	background: #d5d4cd;
	border-style: solid;
	border-width: 1px;
}
.addclient_frame {
	margin: 30px;
}
.addworkplace_frame {
	margin: 30px;
}
.error {
	background-color: #ff7f50;
}

.item {
	margin-bottom: 10px;
}

#clientTable, #workplaceTable {
	border-collapse: collapse;
	margin-bottom: 20px;
}

#clientTable th, #workplaceTable th {
	background: #a8a8a8;
	border-style: solid;
	border-width: 1px;
}
#clientTable td, #workplaceTable td {
	border-style: solid;
	border-width: 1px;
}
#clientTable td.selected {
	background: #71f2b8;
}
