.scroll-form {
	display: inline-block;
	width: calc(95vw - 200px);
	overflow-x: auto;
}
.input-form {
	display: inline-block;
	white-space: nowrap;
}
.row {
	margin: 20px 20px;
	line-height: 28px;
	display: inline-block;
	vertical-align: top;
}
.original {
	display: none;
}
.row label {
}
.row .error {
	background-color: red;
}