.line {
	background: #d5d4cd;
	border-style: solid;
	border-width: 1px;
}
.trnqualify_frame {
	margin: 30px;
}
.item {
	margin-bottom: 10px;
}
.national_qualify_frame {
	border-style: solid;
	border-width: 1px;
	width: 600px;
	height: 150px;
	padding: 10px;
}
