.line {
	background: #d5d4cd;
	border-style: solid;
	border-width: 1px;
}
.historyclient_frame {
	margin: 30px;
}
.item {
	margin-bottom: 10px;
}
.error {
	background-color: #ff7f50;
}

#insertTable th, #updateTable th {
	background: #a8a8a8;
	border-style: solid;
	border-width: 1px;
}

#insertTable td, #updateTable td {
	border-style: solid;
	border-width: 1px;
}

#insertButton, #updateButton {
	width: 100%;
}
