.line {
	background: #d5d4cd;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 100px;
}
.login_frame {
	background-color: #e6facc;
	border-style: solid;
	border-width: 1px;
	width: 250px;
	height: 200px;
	margin: auto;
	margin-bottom: 50px;
	padding: 30px;
}
.login_item {
	padding-bottom: 10px;
}
.login_input {
	width: 100%;
}
.new_user_frame {
	background-color: #f7f2cf;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	width: 400px;
	margin: auto;
	padding: 30px;
}